<style>
    nav{
        padding: 0;
        margin: 0;
        padding: 10px;
        background-color: rgb(26, 65, 26);
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    a{
        color: white;
        text-decoration: none;
        padding: 10px;
        border-radius: 10px;
        background-color: darkcyan;
    }
</style>


<nav>
    <h1>Logo - <%=title%></h1>
    <div>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </div>
</nav>